<div class="search-value">
  <input #search type="text" placeholder="Search city name" (ngModel)="searchValue" (keyup)="searchWeatherData(search.value)">
</div>

<div class="container">
  <div class="upper-data">
    <img src="../assets/coldV2.jpg" *ngIf="temperature < 15">
    <img src="../assets/hotV2.jpg" *ngIf="temperature >= 15">
    <div class="weather-data">
      <div class="location">{{ weatherData?.CityName }}</div>
      <div class="temperature">{{ convertFahrenheitToCelsius(weatherData?.Temperature)| number : '1.0-0'}} °C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <!-- min temperature -->
        <div class="info-block-label">
          <span><i class="fa-solid fa-temperature-low"></i></span>
          <span style="padding-bottom: 2px;">Min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData?.TemperatureMin }} °C
        </div>
      </div>
      <!-- max temperature -->
      <div class="info-block">
        <div class="info-block-label">
          <span><i class="fas fa-temperature-high"></i></span>
          <span style="padding-bottom: 2px;">Max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData?.TemperatureMax }} °C
        </div>
      </div>
      <!-- humidity -->
      <div class="info-block">
        <div class="info-block-label">
          <span><i class="fas fa-cloud"></i></span>
          <span style="padding-bottom: 2px;">Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData?.Humidity}}%
        </div>
      </div>
      <!-- wind -->
      <div class="info-block">
        <div class="info-block-label">
          <span><i class="fa-solid fa-wind"></i></span>
          <span style="padding-bottom: 2px;">Wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData?.Wind}} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
